.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: rgb(255, 123, 0);
    border: 5px inset red;
}

table {
  color: #111;
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: silver;
}

.header-row {
    background: midnightblue;
    color: orange
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}

.zebra-stripes {
    background-color: lightgray;
}